.timer {
  position: relative;
  top: 100px;
}
.stopwatch--current {
  font-size: 160px;
  color: white;
  margin: 0;
}

.btns {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.btns button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
}

.start.active,
.lap.active,
.stop.active,
.reset.active{
  opacity: 1;
  pointer-events: all;
}

.start {
  background-color: rgba(172, 255, 47, 0.5);
  transition: 0.5s all;
  opacity: 0.6;
  pointer-events: none;
}

.start:hover {
  background-color: rgb(172, 255, 47);
}

.lap {
  background-color: rgba(47, 179, 255, 0.5);
  transition: 0.5s all;
  opacity: 0.6;
  pointer-events: none;
}

.lap:hover {
  background-color: rgb(47, 179, 255);
}

.stop {
  background-color: rgba(253, 53, 53, 0.5);
  transition: 0.5s all;
  opacity: 0.6;
  pointer-events: none;
}

.stop:hover {
  background-color: rgb(253, 53, 53);
}

.reset {
  background-color: rgba(253, 250, 53, 0.5);
  transition: 0.5s all;
  opacity: 0.6;
  pointer-events: none;
}

.reset:hover {
  background-color: rgb(253, 250, 53);
}